# =====================================================================
# ENTORNO Y SECRETOS (¡Lo más importante!)
# =====================================================================
.env
.env.*
*.env

# =====================================================================
# FLUTTER Y DART
# =====================================================================
# Directorios de compilación y herramientas de Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Toda la basura compilada (APK, dependencias de C++, etc.)
/build/

# =====================================================================
# ANDROID / IOS ESPECÍFICOS
# =====================================================================
# Evitar subir la carpeta build interna de Android
/android/app/build/
/android/build/

# Evitar subir las llaves de producción (cuando subas a la Play Store)
*.jks
*.keystore
key.properties
android/key.properties

# Archivos temporales de iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/

# =====================================================================
# IDE Y SISTEMA OPERATIVO
# =====================================================================
# Archivos de VS Code, Android Studio e IntelliJ
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Archivos basura de macOS y Windows
.DS_Store
Thumbs.db